:root {
  --h1: 5.653rem;
  --h2: 3.998rem;
  --h3: 2.827rem;
  --h4: 1.999rem;
  --h5: 1.414rem;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

.header {
  text-align: center;
  display: flex;
  align-items: center;
  border: solid 0.2rem;
  border-radius: 1rem;
  margin: 1rem auto;
  width: 25rem;
  height: 35rem;
  user-select: none;
}

.title-heart1 {
  float: left;
  width: 10%;
  height: auto;
  position: relative;
  bottom: 16rem;
}

.title-heart2 {
  float: right;
  width: 10%;
  height: auto;
  position: relative;
  top: 16rem;
  right: 0.5rem;
}

#form {
  text-align: center;
  font-size: var(--h2);
  margin: 1rem auto;
  width: 50%;
}

#submit {
  user-select: none;
  cursor: pointer;
}

#app {
  text-align: center;
}

.result {
  text-align: center;
  margin: 1rem;
}

.card {
  position: relative;
  height: 35rem;
  width: 25rem;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20rem;
  user-select: none;
}

.card::before,.card::after{
  content: attr(data-value);
  font-size: 5rem;
}

.cardHolder {
  display: flex;
  justify-content: center;
}

#player {
  margin: 1rem;
}

#computer {
  margin: 1rem;
}

.♥ {
  color: red;
}

.♦ {
  color: red;
}