:root {
  --h1: 5.653rem;
  --h2: 3.998rem;
  --h3: 2.827rem;
  --h4: 1.999rem;
  --h5: 1.414rem;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

.header {
  text-align: center;
  display: flex;
  align-items: center;
  border: solid 0.2rem;
  border-radius: 1rem;
  margin: 1rem auto;
  width: 25rem;
  height: 35rem;
}

.title-heart1 {
  float: left;
  width: 10%;
  height: 10%;
  position: relative;
  bottom: 15rem;
}

.title-heart2 {
  float: right;
  width: 10%;
  height: 10%;
  position: relative;
  top: 15rem;
  right: 0.5rem;
}

#form {
  text-align: center;
  font-size: var(--h2);
  margin: 1rem auto;
  width: 50%;
}

#card-amount {
  margin: 1.25rem;
  width: 75%;
}

#submit {
  margin: 0.75rem 0.75rem 0.75rem 0rem;
}
